body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25));
  border-radius: 10px
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-corner {
    width:0;
    height:0
}

/* ::-webkit-scrollbar {
    width: 10px;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
} */

/* ::-webkit-scrollbar-track {
  background: #f1f1f1;
} */

h1 {
    font-weight: 800;
    letter-spacing: -4px;
}

p {
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: -1px
}

/* @font-face {
    font-family: 'Inter';
    src: url('/inter-v-webfont.woff2') format('woff2-variations');
         /* url('/inter-v-webfont.woff') format('woff-variations');
    font-weight:100 900;
    font-variation-settings: 'wght' 200;
    font-style: normal;
} */

@font-face {
    font-family: 'Inter';
    src: url('/Inter-V.ttf');
    font-weight: 100 900; 
    font-style: normal;
}
/* 
@font-face {
	font-family: 'Inter';
	src: url('/inter-v-webfont.woff2') format('woff2-variations');
	font-weight: 300 900;
} */